# Tarefa 02 M√≥dulo 05

O nosso projeto desta sequ√™ncia de m√≥dulos do curso ser√° um aprofundamento da demonstra√ß√£o sobre classifica√ß√£o de risco de cr√©dito que vimos l√° no comecinho. Pois recebemos uma base j√° montada pra n√≥s. Tenha certeza de que ela passou por um longo processamento at√© ficar daquele jeito. Neste exerc√≠cio vamos exercitar o que aprendemos nas ultimas aulas e montar a vari√°vel resposta da base do nosso projeto.

#### Marca√ß√£o de bom e mau
O objetivo da modelagem √© classificar o risco de inadimpl√™ncia, ou como se diz no meio, o risco de *default*. Podemos fazer longas discuss√µes sobre o conceito de *default* com base em estudos e exig√™ncias regulat√≥rias, para efeitos deste estudo, um cliente em *default* √© aquele que est√° em 60 dias de atraso ou mais. Ent√£o classificaremos os clientes como 'bons' e 'maus' assim:
- **Maus** pagadores: s√£o aqueles que entraram em 'default' (atraso 60 dias ou mais) nos 24 meses seguintes √† aquisi√ß√£o do cart√£o de cr√©dito. 
- **Bons** pagadores: s√£o considerados todos os demais.
- **Exclu√≠dos**: Clientes que n√£o adquiriram um cart√£o de cr√©dito (seja por recusa, seja por desist√™ncia) n√£o possuem informa√ß√µes de pagamento, portanto n√£o se pode identificar se s√£o bons ou maus. H√° uma longa discuss√£o e literatura sobre *infer√™ncia de rejeitados* que est√° fora do escopo deste exerc√≠cio.

#### Bases dispon√≠veis
Temos duas bases importantes aqui: uma de propostas, com diversas informa√ß√µes dos v√°rios solicitantes de cart√£o de cr√©dito, e uma base de pagamentos. A base de pagamentos ser√° utilizada para identificar a ocorr√™ncia de *default*. A base de propostas tem diversas informa√ß√µes coletadas no momento da solicita√ß√£o do cr√©dito (isto √© importante: qualquer informa√ß√£o posterior a essa data √© imposs√≠vel de ser coletada na aplica√ß√£o do modelo e n√£o pode ser utilizada).

As vari√°veis delas s√£o:

Base de propostas - application_records.csv

| Nome da Vari√°vel         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| CODE_GENDER| M = 'Masculino'; F = 'Feminino' |M/F|
| FLAG_OWN_CAR| Y = 'possui'; N = 'n√£o possui' |Y/N|
| FLAG_OWN_REALTY| Y = 'possui'; N = 'n√£o possui' |Y/N|
| CNT_CHILDREN| Quantidade de filhos |inteiro|
| AMT_INCOME_TOTAL| Annual income |inteiro|
| NAME_INCOME_TYPE|Tipo de renda (ex: assaliariado, aut√¥nomo etc) | texto |
| NAME_EDUCATION_TYPE| N√≠vel de educa√ß√£o (ex: secund√°rio, superior etc) |texto|
| NAME_FAMILY_STATUS | Estado civil (ex: solteiro, casado etc)| texto |
| NAME_HOUSING_TYPE | tipo de resid√™ncia (ex: casa/apartamento, com os pais etc) | texto |
| DAYS_BIRTH | Count backwards from current day (0), -1 means yesterday |inteiro|
| DAYS_EMPLOYED | Count backwards from current day (0), -1 means yesterday |inteiro|
| FLAG_MOBIL | Indica se possui celular (1 = sim, 0 = n√£o) |bin√°ria|
| FLAG_WORK_PHONE | Indica se possui telefone comercial (1 = sim, 0 = n√£o) |bin√°ria|
| FLAG_PHONE | Indica se possui telefone (1 = sim, 0 = n√£o) |bin√°ria|
| FLAG_EMAIL | Indica se possui e-mail (1 = sim, 0 = n√£o) |bin√°ria|
| OCCUPATION_TYPE | Occupation	 |Qualitativa|
| CNT_FAM_MEMBERS | quantidade de pessoas na resid√™ncia |inteiro|

Base de pagamentos - pagamentos_largo.csv  

| Nome da Vari√°vel         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| mes_00 a mes_24| faixa de atraso m√™s a m√™s do cliente <br>0: 1-29 days past due &nbsp;&nbsp;&nbsp;&nbsp; 1: 30-59 days past due <br />2: 60-89 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 3: 90-119 days overdue <br /> 4: 120-149 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 5: more than 150 days <br />C: paid off that month &nbsp;&nbsp;&nbsp;&nbsp; X: No loan for the month |Qualitativa|

#### Construindo a vari√°vel resposta
A base de pagamentos est√° em um formato de 'base larga'. Essa base possui informa√ß√µes de pagamentos do cliente m√™s a m√™s a partir do m√™s de aquisi√ß√£o do cr√©dito (m√™s 0) at√© o vig√©simo quarto m√™s ap√≥s a aquisi√ß√£o do cr√©dito (m√™s 24). Utilizaremos essa base para determinar se um proponente √© considerado 'bom pagador' ou caso apresente atraso representativo, ser√° considerado 'mau pagador'.

#### Base larga vs base longa
A base ser larga significa que h√° uma linha para cada cliente, e que as informa√ß√µes estar√£o nas colunas, em contraste com a 'base longa', em que haveria uma linha para cada combina√ß√£o cliente/m√™s, uma coluna indicando o cliente, outra indicando o m√™s, e apenas uma coluna com a informa√ß√£o do atraso.

#### Tarefa 1) Marcar *default* no m√™s
Fa√ßa uma indicadora de se o cliente est√° em *default* em cada uma das marca√ß√µes (mes_00 a mes_24). Dica: voc√™ pode utilizar o m√©todo ```.isin()``` do Pandas. Consulte a [documenta√ß√£o](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) caso necess√°rio.

#### Tarefa 2) 'bons' e 'maus' ao longo de todos os 24 meses de desempenho
Marque para cada cliente se ele teve pelo menos um epis√≥dio de *default* entre o m√™s 0 e o m√™s 24. Dica: o m√©todo ```sum()``` pode ajudar. Caso precise, consulte a [documenta√ß√£o](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html) e procure pelo argumento ```axis```, voc√™ viu outros m√©todos que possuem esse argumento tamb√©m. Tendo o n√∫mero de meses em default de cada cliente, basta marcar ```True``` para todos aqueles que possuem pelo menos 1 m√™s em *default* e ```False``` para os demais.

#### Tarefa 3) Marcando proponentes expostos ao risco de cr√©dito
Marcando proponentes que se tornaram tomadores: lembre-se de que clientes que n√£o adquiriram o cart√£o devem ser desconsiderados. A base de pagamentos possui apenas clientes que adquiriram cart√£o de cr√©dito, ent√£o voc√™ pode selecionar somente os clientes da base de propostas que se encontram na base de pagamentos.

#### Tarefa 4) Consolidando as informa√ß√µes
Fa√ßa uma jun√ß√£o das informa√ß√µes da base de propostas com a vari√°vel de *default* que voc√™ acabou de construir. Talvez voc√™ consiga realizar a tarefa 3 e tarefa 4 em uma √∫nica linha de c√≥digo ;)

#### Tarefa 5) Verificando
Fa√ßa uma contagem dos valores do *default* que voc√™ construiu.

In [9]:
import pandas as pd

In [21]:
propostas = pd.read_csv('application_record.csv')
pg = pd.read_csv('pagamentos_largo.csv')

In [23]:
pg.head()

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_22,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9
0,5001718,0,0,0,0,0,0,0,0,NaN,...,NaN,0,NaN,0,0,0,0,NaN,0,NaN
1,5001719,0,0,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
2,5001720,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,5001723,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,NaN,NaN
4,5001726,0,0,C,C,C,C,C,C,C,...,C,C,C,0,0,0,C,C,C,C

In [37]:
# 1) Seu c√≥digo aqui
#Cria uma c√≥pia da base de pagamentos
pagamentos_default = pg.copy()

#Colunas de meses (mes_00 at√© mes_24)
colunas_meses = [col for col in pagamentos_default.columns if 'mes_' in col] 

# Marca 1 para meses com atraso >= 60 dias
pagamentos_default[colunas_meses] = pagamentos_default[colunas_meses].isin(['2','3','4','5']).astype(int)

# Visualiza as primeiras linhas
pagamentos_default.head()

#Explica√ß√£o do codigo
# # Cria uma c√≥pia da base de pagamentos
# pagamentos_default = pagamentos.copy()
# Faz uma c√≥pia da base original. Isso evita modificar diretamente o DataFrame pagamentos ‚Äî uma boa pr√°tica para manter a base original intacta.

# # Colunas de meses (mes_00 at√© mes_24)
# colunas_meses = [col for col in pagamentos_default.columns if 'mes_' in col]

# Cria uma lista com os nomes das colunas que cont√™m ‚Äúmes_‚Äù, ou seja, todas as colunas de mes_00 a mes_24.
# Esse comando √© uma list comprehension (forma compacta de gerar listas).
#  Exemplo de resultado: ['mes_00', 'mes_01', ..., 'mes_24']
# Isso √© um loop (la√ßo de repeti√ß√£o) dentro de uma list comprehension.
# Ele vai percorrer cada coluna da lista pagamentos_default.columns, uma por uma.
# Em cada volta do la√ßo, a vari√°vel col assume o nome da coluna atual.
# Exemplo pr√°tico:
# Itera√ß√£o	Valor de col
# 1	'ID'
# 2	'mes_00'
# 3	'mes_01'
# ...	'mes_24'
    
# # Marca 1 para meses com atraso >= 60 dias
# pagamentos_default[colunas_meses] = pagamentos_default[colunas_meses].isin(['2','3','4','5']).astype(int)
# Explicando passo a passo:

# pagamentos_default[colunas_meses] ‚Üí seleciona apenas as colunas de meses.

# .isin(['2','3','4','5']) ‚Üí cria uma matriz de True/False, onde True indica que o valor da c√©lula est√° entre os c√≥digos '2', '3', '4', '5' (ou seja, atraso ‚â• 60 dias).

# .astype(int) ‚Üí converte True em 1 e False em 0.

# O resultado √© que, em cada coluna de m√™s, 1 significa ‚Äúcliente em default naquele m√™s‚Äù.

# # Visualiza as primeiras linhas
# pagamentos_default.head()
# Mostra as primeiras 5 linhas da base para confer√™ncia visual (fun√ß√£o de checagem).

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_22,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9
0,5001718,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5001719,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5001720,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5001723,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5001726,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
# 2) Seu c√≥digo aqui
# Soma dos meses com default
pagamentos_default['qtd_meses_default'] = pagamentos_default[colunas_meses].sum(axis=1)

# Vari√°vel final: 1 = Mau pagador, 0 = Bom pagador
pagamentos_default['default'] = (pagamentos_default['qtd_meses_default'] > 0).astype(int)

# Mostrando o resultado
pagamentos_default[['ID','default']].head()

        ID  default
0  5001718        0
1  5001719        0
2  5001720        0
3  5001723        0
4  5001726        0

In [43]:
# 3) Seu c√≥digo aqui
Como o enunciado diz que a base de pagamentos cont√©m apenas clientes que receberam o cart√£o, n√£o √© preciso fazer uma filtragem adicional.
Na pr√≥xima etapa, ao fazer a jun√ß√£o (merge), s√≥ permanecer√£o os IDs que est√£o em ambas as tabelas.

In [45]:
# 4) eu c√≥digo aqui
# Jun√ß√£o usando a chave ID
base_final = propostas.merge(
    pagamentos_default[['ID', 'default']],
    on='ID',
    how='inner'   # apenas quem possui informa√ß√µes de pagamento
)

base_final.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,default
0,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,0
1,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0
2,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0
3,5112956,M,Y,Y,0,270000.0,Working,Higher education,Married,House / apartment,-16872,-769,1,1,1,1,Accountants,2.0,0
4,5008825,F,Y,N,0,130500.0,Working,Incomplete higher,Married,House / apartment,-10669,-1103,1,0,0,0,Accountants,2.0,0

In [47]:
# 5)
# Contagem de bons e maus
base_final['default'].value_counts()

default
0    16260
1      390
Name: count, dtype: int64

In [ ]:
# Tarefa 2 ‚Äî Marcar ‚Äúbons‚Äù e ‚Äúmaus‚Äù pagadores
# # Soma dos meses com default
# pagamentos_default['qtd_meses_default'] = pagamentos_default[colunas_meses].sum(axis=1)

# ‚û°Ô∏è Soma os valores 1‚Äôs em cada linha (cliente).


# axis=1 ‚Üí significa ‚Äúsomar nas colunas‚Äù (ou seja, somar os meses de cada cliente).


# O resultado √© uma nova coluna chamada qtd_meses_default, indicando quantos meses o cliente entrou em default.


# Exemplo:
# IDmes_00mes_01...qtd_meses_default100...0210...1

# # Vari√°vel final: 1 = Mau pagador, 0 = Bom pagador
# pagamentos_default['default'] = (pagamentos_default['qtd_meses_default'] > 0).astype(int)

# ‚û°Ô∏è Cria a vari√°vel resposta final:


# Se o cliente teve pelo menos 1 m√™s com atraso ‚â• 60 dias ‚Üí True ‚Üí vira 1 (mau pagador).


# Se teve zero meses em default ‚Üí False ‚Üí vira 0 (bom pagador).



# # Mostrando o resultado
# pagamentos_default[['ID', 'default']].head()

# ‚û°Ô∏è Exibe apenas as colunas ID e default das primeiras linhas, para verificar o resultado.

# üß± Tarefa 3 ‚Äî Selecionar apenas quem adquiriu o cart√£o
# Como o enunciado diz que a base de pagamentos cont√©m apenas clientes que receberam o cart√£o, n√£o √© preciso fazer uma filtragem adicional.
# Na pr√≥xima etapa, ao fazer a jun√ß√£o (merge), s√≥ permanecer√£o os IDs que est√£o em ambas as tabelas.

# üîó Tarefa 4 ‚Äî Consolidar informa√ß√µes
# # Jun√ß√£o usando a chave ID
# base_final = propostas.merge(
#     pagamentos_default[['ID', 'default']],
#     on='ID',
#     how='inner'   # apenas quem possui informa√ß√µes de pagamento
# )

# Explicando:


# .merge() ‚Üí faz uma jun√ß√£o entre duas tabelas (similar a um ‚ÄúJOIN‚Äù no SQL).


# on='ID' ‚Üí indica que a liga√ß√£o entre as duas tabelas √© feita pela coluna ID.


# how='inner' ‚Üí mant√©m apenas os clientes que est√£o nas duas tabelas (propostas + pagamentos).


# [['ID', 'default']] ‚Üí usamos apenas as colunas necess√°rias da base de pagamentos.


# base_final ‚Üí cont√©m todos os dados cadastrais e a coluna default indicando se √© bom ou mau pagador.



# base_final.head()

# ‚û°Ô∏è Mostra as primeiras linhas da nova base final, agora completa com o indicador de default.

# üîç Tarefa 5 ‚Äî Verifica√ß√£o dos valores de default
# # Contagem de bons e maus
# base_final['default'].value_counts()

# ‚û°Ô∏è Faz a contagem de quantos clientes t√™m default = 0 (bons) e default = 1 (maus).
# Resultado esperado (exemplo):
# 0    8500
# 1    1500


# ‚úÖ Resumo conceitual:
# EtapaO que foi feitoFun√ß√£o principal usadaResultado1Identifica√ß√£o de meses em default.isin()1 = atraso ‚â• 60 dias2Identifica√ß√£o de clientes com default.sum(axis=1) e >0vari√°vel default (0/1)3Sele√ß√£o de clientes com cart√£o‚Äî (impl√≠cito na jun√ß√£o)remove quem n√£o tem hist√≥rico4Jun√ß√£o das bases.merge()base final consolidada5Valida√ß√£o.value_counts()distribui√ß√£o de bons e maus

# Se quiser, posso complementar esse passo a passo mostrando como transformar a base larga em base longa (para an√°lises mais avan√ßadas ou gr√°ficos).
# Quer que eu te mostre isso tamb√©m?